/********************* COMMON **********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex {
  display: flex;
}

.boxed-header {
  margin: 0 22rem 10rem 22rem;
}

.boxed-main {
  margin: 10rem 28rem 10rem 28rem;
}

button {
  background-color: #0061ff;
  color: white;
  border-style: none;
}

.btn {
  margin: 2rem 0;
  width: 15rem;
  height: 2.5rem;
}

ul {
  list-style: none;
}

/* DEBUG */
.square-box,
.square-big,
.square-little {
  border: 2px dashed black;
}
/********************* HEADER **********************/
header {
  background-color: #b4d0e7;
}

/* NAVBAR */
nav {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
}

.img-logo {
  width: 6rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 0 1rem;
}

nav button {
  padding: 0.5rem 1.2rem;
}

/* JUMBO */
h1 {
  font-size: 4rem;
  padding-top: 4rem;
}

.jumbo {
  padding-top: 6rem;
}

.jumbo-img img {
  width: 100%;
  position: relative;
  top: 2.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem gray;
}

.jumbo-txt {
  width: calc(100% / 3);
  padding-top: 2.5rem;
  position: relative;
}

.jumbo-img {
  width: calc((100% / 3) * 2);
}

.jumbo-bottom {
  margin-top: 2rem;
  gap: 3rem;
}

.jumbo-icon {
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  padding-bottom: 1.5rem;
}

/********************** MAIN ***********************/
h2 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.boxed-main input {
  margin-bottom: 3rem;
}

label {
  padding: 0 3rem 0 0;
}

.business-box {
  gap: 3rem;
}

.business-column {
  width: calc(100% / 3);
  line-height: 1.5rem;
  border: 1px solid gray;
}

.business-column-top {
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
}

.business-column-bottom {
  padding: 0 2rem;
  min-height: 60rem;
}

h3 {
  font-size: 1.5rem;
  padding: 2rem 0 1rem 0;
}

.business-list {
  margin: 2rem 0 0 0;
}

.business-list li {
  padding: 0.5rem 0;
}

.business-list i {
  color: #0061ff;
}

hr {
  margin: 2.5rem 0;
  width: 3.5rem;
  color: lightgray;
}

.business-row {
  width: 100%;
  line-height: 1.5rem;
  margin-top: 3rem;
  border: 1px solid gray;
}

.business-row-top {
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
}

.business-row-bottom {
  padding: 0 2rem 2rem 2rem;
  gap: 2rem;
}

.business-row-bottom-left {
  width: calc((100% / 3) * 2);
}

.business-row-bottom-right {
  width: calc(100% / 3);
  text-align: right;
}

.business-row-bottom-left p {
  margin-top: 3rem;
}

.partner-box {
  width: 100%;
  gap: 3rem;
}

.partner-box-img {
  width: calc((100% / 3) * 2);
}

.partner-box-txt {
  width: calc(100% / 3);
}

.partner-img {
  width: 100%;
}

.btn-white {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin: 2rem 0;
  padding: 0.6rem 1rem;
}

.card-box {
  flex-wrap: wrap;
  gap: 3rem;
}

.card {
  width: calc((100% / 3) - (6rem / 3));
}
.card-top img {
  width: 100%;
}

.title-h2 {
  width: 70%;
}

.square-box {
  width: 100%;
  min-height: 35rem;
}

.square-big {
  width: calc(100% / 3);
  flex-wrap: wrap;
}

.square-little {
  width: calc(100% / 2);
  height: calc(100% / 2);
}

.big-row {
  background-color: #b4d0e7;
}

.big-row .boxed-main {
  padding: 7rem 0;
  gap: 15rem;
  margin-top: 0;
}

.big-row-txt {
  width: calc((100% / 3) * 2);
}

.big-row-btn {
  width: calc(100% / 3);
  text-align: right;
}

.btn-white-2 {
  background-color: white;
  color: black;
  padding: 0.6rem 2.5rem;
}

.big-row-txt h2 {
  color: #61082b;
  margin: 0;
}
/********************* FOOTER **********************/
