/********************* COMMON **********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex {
  display: flex;
}

.boxed-big {
  margin: 0 22rem 10rem 22rem;
}

.boxed-small {
  margin: 10rem 28rem 10rem 28rem;
}

.boxed-footer {
  margin: 0 22rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

h3 {
  font-size: 1.6rem;
  padding: 2.5rem 0 1rem 0;
}

button {
  background-color: #0061ff;
  color: white;
  border-style: none;
}

button:hover {
  cursor: pointer;
}

.btn {
  margin: 2rem 0;
  width: 15rem;
  height: 2.5rem;
}

ul {
  list-style: none;
}

/********************* HEADER **********************/
header {
  background-color: #b4d0e7;
}

/******* NAV *******/
nav {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
  padding: 1rem 1.2rem;
}

.nav-center {
  text-align: left;
  width: 60%;
}

.nav-left {
  width: 8%;
}

.nav-right {
  width: 32%;
  text-align: right;
}

.img-logo {
  width: 8rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}

nav a:hover {
  border-bottom: 1px solid black;
}

nav input {
  padding: 0.5rem 1.2rem;
  background-color: #0061ff;
  color: white;
  border-style: none;
}

nav input:hover {
  cursor: pointer;
}

/******* JUMBO *******/
h1 {
  font-size: 4rem;
  padding-top: 3.8rem;
}

.jumbo {
  padding-top: 5.5rem;
}

.jumbo-img img {
  width: 100%;
  position: relative;
  top: 4rem;
}

.jumbo-txt {
  width: calc(100% / 3);
  padding-top: 4rem;
  position: relative;
}

.jumbo-img {
  width: calc((100% / 3) * 2);
}

.jumbo-bottom {
  margin-top: 2rem;
  gap: 2.5rem;
}

.jumbo-icon {
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
}

/********************** MAIN ***********************/

/******* BUSINESS SECTION *******/
.boxed-small input {
  margin-bottom: 3rem;
}

label {
  padding: 0 3rem 0 0;
}

.business-box {
  gap: 3rem;
}

.business-column {
  width: calc(100% / 3);
  line-height: 1.5rem;
  border: 1px solid gray;
  min-width: 150px;
}

.business-column-top {
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
}

.business-column-bottom {
  padding: 0 2rem;
  min-height: 60rem;
}

.business-list {
  margin: 2rem 0 0 0;
}

li i {
  margin-right: 0.5rem;
}

.business-list li {
  padding: 0.5rem 0;
  display: flex;
}

.business-list .fa-check {
  color: #0061ff;
}

.business-column-bottom hr {
  margin: 2.5rem 0;
  width: 3.5rem;
  color: lightgray;
}

.business-row {
  width: 100%;
  line-height: 1.5rem;
  margin-top: 3rem;
  border: 1px solid gray;
}

.business-row-top {
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
}

.business-row-bottom {
  padding: 0 2rem 2rem 2rem;
  gap: 2rem;
}

.business-row-bottom-left {
  width: calc((100% / 3) * 2);
}

.business-row-bottom-right {
  width: calc(100% / 3);
  text-align: right;
}

.business-row-bottom-left p {
  margin-top: 3rem;
}

/******* PARTNER SECTION *******/
.partner-box {
  width: 100%;
  gap: 3rem;
}

.partner-box-img {
  width: calc((100% / 3) * 2);
}

.partner-box-txt {
  width: calc(100% / 3);
}

.partner-img {
  width: 100%;
}

.btn-white {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin: 2rem 0;
  padding: 0.6rem 1rem;
}

/******* CARD SECTION *******/
.card-box {
  flex-wrap: wrap;
  gap: 3rem;
}

.card {
  width: calc((100% / 3) - (6rem / 3));
  min-width: 150px;
}

.card-top img {
  width: 100%;
}

.title-h2 {
  width: 70%;
}

/******* SQUARE SECTION *******/
.square-box {
  width: 100%;
  height: calc(100vh / 1.5);
}

.square-big {
  width: calc(100% / 3);
  flex-wrap: wrap;
}

.square-little {
  width: calc(100% / 2);
  height: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-box img {
  width: 50%;
}

.design {
  background-color: #a2d39b;
  border: 1rem solid #d1e9cd;
}

.arizona {
  background-color: #61082b;
}

.florida {
  background-color: #0093ce;
}

.topps {
  background-color: #ff1c1c;
}

.world {
  background-color: #d5001f;
}

.corp {
  background-color: #b4d0e7;
}

.planet {
  background-color: #0d2481;
}

.channel {
  background-color: #ffd830;
}

.square-central {
  background-color: #f5f5f5;
  padding: 3.5rem;
}

.square-central hr {
  width: 7rem;
  color: whitesmoke;
  margin: 2.5rem 0;
}

.square-central-txt {
  margin-bottom: 3rem;
}

/******* BIG-ROW SECTION *******/
.big-row {
  background-color: #b4d0e7;
}

.big-row .boxed-small {
  padding: 7rem 0;
  gap: 15rem;
  margin-top: 0;
}

.big-row-txt {
  width: calc((100% / 3) * 2);
}

.big-row-btn {
  width: calc(100% / 3);
  text-align: right;
}

.btn-white-2 {
  background-color: white;
  color: black;
  padding: 0.6rem 2.5rem;
}

.big-row-txt h2 {
  color: #61082b;
  margin: 0;
}

/******* QUESTION SECTION *******/
.question {
  line-height: 5rem;
}

.question-txt {
  width: 70%;
}

.question-icon {
  width: 30%;
  text-align: right;
  padding-right: 2rem;
}

.answer {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  padding-bottom: 1.5rem;
}

.quest-answ-row:hover .answer {
  opacity: 1;
  position: relative;
  visibility: visible;
  transition-duration: 2s;
}

.quest-answ-row:hover .fa-chevron-down {
  transform: rotate(180deg);
}
/********************* FOOTER **********************/
footer {
  background-color: black;
  color: white;
}

.footer-top {
  gap: 5rem;
  padding: 4rem 0 2rem 0;
}

.footer-bottom {
  padding-bottom: 3.5rem;
}

.footer-bottom hr {
  width: 8rem;
  margin: 3rem 0;
}

.footer-column {
  width: calc(100% / 5);
  line-height: 2.3rem;
}

footer h4 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
